body {
  font-family: "Microsoft JhengHei", sans-serif;
  background-color: #222;
  color: #fff;
  text-align: center;
}

canvas {
  border: 4px solid #555;
  background-color: #111;
  margin-top: 10px;
}

#score {
  font-size: 20px;
  margin-top: 10px;
}
